@model Jogador
<link rel="stylesheet" href="~/css/jogadores.css" asp-append-version="true">
@{
    ViewData["Title"] = "Edit";
}

@* <h2>Edição de Jogador</h2> *@

@if (ViewBag.Username == null)
{
    <a class="nav-brand" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
}
else
{

    @* <form method="post" action="@Url.Action("Atualizar")" enctype="multipart/form-data">
        <input type="hidden" name="IdJogador" value="@ViewBag.Jogador.IdJogador">

        <label for="">Nome</label>
        <input type="text" name="Nome" value="@ViewBag.Jogador.Nome" required>

        <label for="">Email</label>
        <input type="email" name="Email" value="@ViewBag.Jogador.Email" required>

        <label for="">Senha</label>
        <input type="password" name="Senha" value="@ViewBag.Jogador.Senha" required>

        <label for="">Equipe</label>
        <select name="IdEquipe" id="IdEquipe">
            <option value="0">Selecione uma opcao</option>
            @foreach (var item in ViewBag.Equipe)
            {
                <option value="@item.IdEquipe">@item.Nome</option>
            }
        </select>

        <button type="submit">Atualizar</button>
    </form> *@


    <!-- MAIN -->
    <main>

<section class="container-grid cadastro-equipes">


<form method="post" action="@Url.Action("Atualizar")" enctype="multipart/form-data" class="frm-cad-equipe">
<div class="cadequipe-titulo">
<h1>Edição de Jogador</h1>
<hr>
</div>

<input type="hidden" name="IdJogador" value="@ViewBag.Jogador.IdJogador">

<input class="campo-entrada" type="text" id="nome-jogador" name="Nome" value="@ViewBag.Jogador.Nome"
placeholder="Digite o nome do Jogador:" required>

<input class="campo-entrada" type="email" id="email-jogador" name="Email" value="@ViewBag.Jogador.Email"
placeholder="Digite o email do Jogador:" required>

<input class="campo-entrada" type="password" id="senha" name="Senha" value="@ViewBag.Jogador.Senha"
placeholder="Digite a senha:" required>

<select class="campo-entrada" id="equipe-select" name="IdEquipe">
<option value="0">Selecione uma opcao</option>
@foreach (var item in ViewBag.Equipe)
{
<option value="@item.IdEquipe">@item.Nome</option>
}
</select>

<button type="submit">Atualizar</button>




</form>
</section>
</main>
}